extends layout

block content
  h1= title
  p Welcome to #{title}
  form(method="post")
    input(name="mentees[]", placeholder="Mentee 1")
    input(name="mentees[]", placeholder="Mentee 2")
    input(name="mentees[]", placeholder="Mentee 3")
    input(name="mentees[]", placeholder="Mentee 4")
    input(type="submit", value="Submit")
